<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="jumbotron text-center">
        <div class="col-s-12">
          <section id="header">
            <h1>Mission to Mars</h1>
            <p>Red. Planet. Images. Facts. Hemispheres. Rover?</p>
            <p><a class="btn btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
          </section>
        </div>
      </div>
    </div>    
    <div class="row">
        <div class="col-s-12">
          <section id="news" class="box">
            <h2>Latest Mars News</h2>
            <a href="{{mars.news_link}}" target="_blank"><h3>{{ mars.news_title }}</h3></a>
            <p>{{ mars.news_p }}</p>
          </section>
        </div>
    </div>
    <hr>
    <br>
    <div class="row" id="sidebar">
      <div class="col-s-12 col-md-9">
        <section id="featured-image">
          <h4 class="text-center">Featured Mars Image</h4>
          <h2 class="text-center">{{mars.img_title}}</h2>
          <a href="{{ mars.featured_image_url}}" target="_blank"><img class="img-responsive" src="{{ mars.featured_image_url }}" alt="JPL Featured Space Image"></a>
        </section>
      </div>
      <div class="col-s-12 col-md-3">
        <div class="box" id="weather">
          <section id="weather">
            <h3>Current Weather on Mars</h3>
            <p>{{ mars.mars_weather }}</p>
          </section>
        </div>  
        <br>
        <section id="facts">
          <h3 class="text-center">Mars Facts</h3>
          <div id="table">
              <!-- Interesting this works even if commented... {{ table }}-->
            <table class="dataframe">
              <thead>
                <tr>
                  <th>Fact:</th>
                  <th>Value:</th>
                </tr>
              </thead>
              <tbody>
              {% for dict_item in mars.dict_list %}
                {% for key, value in dict_item.items() %}
                  <tr>
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                  </tr>
                {% endfor %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>
    <hr>
    <div class="container-fluid">
      <div class="row" id="hemispheres">
        <section id="hemispheres">
          <div class="col-s-12 text-center">
            <h2>Mars Hemispheres</h2>
          </div>
          <hr>          
            {% for item in mars.hemisphere_image_urls %}
            <div class="col-s-12 col-md-6">
              <div class="hemispheres">
                <a href="{{item.img_url}}"  target="_blank"><img class="img-responsive image center-block" src="{{item.img_url}}" alt="{{item.title}}"><h3>{{item.title}}</h3></a>
              </div>
            </div>
            {% endfor %}
        </section>
      </div>
    </div> 
    <hr>
    <div class="row">
      <section id="rover">
        <div class="col-s-12 text-center">
          <h2>Mars Rover Mission</h2>
        </div>
        <hr>
        <div class="row">
          <section id="spirit">
            <div class="col-s-12 col-md-9">
              <div class="box">
                {{ mars.spirit_content|safe }}
              </div>
              <br>
            </div>
            <div class="col-s-12 col-md-3">
              <button type="button" class="btn btn-default btn-lg side">
                <span id="glyph" class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>        <a href="{{mars.spirit_arch_link}}" target="_blank">Spirit Update Archive</a>
              </button>
            </div>
          </section>
        </div>
        <br>
        <hr>
        <br>
          <div class="row">
            <div class="col-s-12">
              <section id="opportunity">
                <div class="col-s-12 col-md-9">
                  <div class="box">
                        {{ mars.opportunity_content|safe }}
                  </div>
                  <br>
                </div>
                <div class="col-s-12 col-md-3">
                  <button type="button" class="btn btn-default btn-lg side">
                    <span id="glyph" class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>        <a href="{{mars.opportunity_arch_link}}" target="_blank">Opportunity Update Archive</a>
                  </button>
                </div>
              </section>
            </div>
          </div>
          <hr>
          <div class="row">
              <div class="col-s-12">
                <section id="curiosity">
                  <div class="col-s-12 col-md-9">
                    <div class="box">
                          <h3><strong>Curiosity Rover {{mars.curio_title}}</strong> - <em><a href="{{mars.curio_mission_update}}">{{mars.curio_update_text}}</a></em></h3>
                          <br>
                          <p>{{mars.curio_text_1}}</p>
                          <br>
                          <p>{{mars.curio_text_2}}</p>
                          <br>
                          <h4>{{mars.curio_subtitle_1}}</h4>
                          <br>
                          <p>{{mars.curio_text_3}}</p>
                          <br>
                          <h4>{{mars.curio_subtitle_2}}</h4>
                          <br>
                          <p>{{mars.curio_text_4}}<a href="{{mars.sci_stud_link}}">{{mars.sci_stud}}</a>{{mars.curio_text_5}}</p>
                          <br>
                          <h4>{{mars.curio_subtitle_3}}</h4>
                          <br>
                          <p>{{mars.curio_text_6}}<a href="{{mars.innov_link}}">{{mars.innov_text}}</a>{{mars.curio_text_7}}</p>
                          <br>
                          <h4>{{mars.curio_subtitle_4}}</h4>
                          <br>
                          <p>{{mars.curio_text_8}}</p>
                          <br>
                          <h4>{{mars.bullet_subtitle}}</h4>
                          <br>
                          <ul>
                            {% for item in mars.bullet_list %}
                            <li>{{item}}</li>
                            {% endfor %}
                          </ul>
                    </div>
                    <br>
                  </div>
                  <div class="col-s-12 col-md-3">
                    <button type="button" class="btn btn-default btn-lg side">
                      <span id="glyph" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>        <a href="{{mars.curio_mission_update}}" target="_blank">Curiosity Mission Update</a>
                    </button>
                    <button type="button" class="btn btn-default btn-lg side">
                      <span id="glyph" class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>        <a href="{{mars.curio_fact_link}}" target="_blank">{{mars.curio_fact_title}} (PDF)</a>
                    </button>
                    <button type="button" class="btn btn-default btn-lg side">
                      <span id="tech-info" class="glyphicon glyphicon-search" aria-hidden="true"></span>        <a href="{{mars.tech_info_link}}" target="_blank">MSL for Scientists</a>
                    </button>
                  </div>
                </section>
              </div>
            </div>
            <hr>
        <div class="container">
          <section id="traverse-map">
            <div class="row">
              <div class="col-s-12">
                <a class="text-center" href="{{mars.sp_map_link}}"  target="_blank"><h3>Spirit Traverse Map</h3><img class="img-responsive image center-block" src="{{mars.sp_map_link}}" alt="Spirit Rover Mars Traverse Map"></a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-s-12">
                <a class="text-center" href="{{mars.opp_map_link}}"  target="_blank"><h3>Opportunity Traverse Map</h3><img class="img-responsive image center-block" src="{{mars.opp_map_link}}" alt="Opportunity Rover Mars Traverse Map"></a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-s-12">
                <a class="text-center" href="{{mars.curio_map_link}}"  target="_blank"><h3>{{mars.curio_map_title}}</h3><img class="img-responsive image center-block" src="{{mars.curio_map_link}}" alt={{mars.curio_map_alt}}></a>
              <div class="col-s-12">
                <h3>{{mars.curio_map_title2}}</h3>
                <p>{{mars.curio_map_text}}</p>
                <hr>
                <h3>Bonus Infomation found in HTML Comments on Curiosity Index</h3>
                <p>{{mars.commented_info}}</p>
              </div>
              </div>
            </div>
            <hr>
          </section>
        
        
          </div>

        </div>  
      
    </div>
  </div>
</body>
</html>
